/**
 * This stylesheet contains CSS that are used across any page
*/

:root {
    /* 85% Opacity */
    /* Note some of these aren't actually 85% Basta */
    --movie-bg-85: rgba(15, 151, 191, 0.75);
    --tv-bg-85: rgba(201, 89, 163, 0.75);
    --music-bg-85: rgba(145, 176, 47, 0.75);
    --misc-bg-85: rgba(254, 175, 48, 0.65);
    
    /* 85% Opacity, Darker for Quick Ratings */
    --movie-bg-85-darker: rgba(25, 107, 131, 0.85);
    --tv-bg-85-darker: rgba(150, 57, 118, 0.85);
    --music-bg-85-darker: rgba(97, 121, 21, 0.85);
    --misc-bg-85-darker: rgba(173, 112, 14, 0.85);

    /* 15% Opacity */
    --movie-bg-15: rgba(15, 151, 191, 0.1);
    --tv-bg-15: rgba(201, 89, 163, 0.1);
    --music-bg-15: rgba(145, 176, 47, 0.1);
    --misc-bg-15: rgba(254, 175, 48, 0.1);

    /* Other */
    --white-bg-10: rgba(255, 255, 255, 0.1);
    --black-bg-85: rgba(0, 0, 0, 0.8);
    --body-bg: #161617;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--body-bg);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

/* Increase the horizontal padding for the container */
.container {
    padding-left: calc(var(--bs-gutter-x) * .9);
    padding-right: calc(var(--bs-gutter-x) * .9);
}

/* Custom Utility Classes */
.fs-7 { font-size: 0.875em; }

.movie-bg-15 { background-color: var(--movie-bg-15); }
.tv-bg-15 { background-color: var(--tv-bg-15); }
.music-bg-15 { background-color: var(--music-bg-15);  }
.misc-bg-15 { background-color: var(--misc-bg-15);  }

.movie-bg-85 { background-color: var(--movie-bg-85); }
.tv-bg-85 { background-color: var(--tv-bg-85); }
.music-bg-85 { background-color: var(--music-bg-85); }
.misc-bg-85 { background-color: var(--misc-bg-85); }

/* Tags (Movie, Television, Music, Miscellaneous) */
.tag-section-icon {
    width: 2.25rem;
    height: 2.25rem;
}

/**
 * NAVBAR
*/
nav.navbar {
    width: 100%;
    height: 5.75rem;
    transition: 0.2s ease-in;
}

nav.nav-darkbg {
    background-color: rgba(20, 20, 20, 0.9);
}

nav.nav-hollowbg {
    /* Styles for subpage header */
    background-color: none;
}

nav.nav-hollowbg > .container {
    /* Styles for subpage header */
    border-bottom: 0.05rem solid rgba(255, 255, 255, 0.75);
}

img.nav-logo {
    /* TLS logo at navbar */
    width: 3rem;
    transition: 0.2s ease-in;
}

li.nav-item {
    margin: 0 0.35rem 0;
    color: white;
}

li.nav-item > span.material-icons {
    display: none;
}

a.nav-link {
    /* Links inside the li.nav-item */
    padding: 0.25rem 1.25rem !important;
    font-weight: 600;
    font-size: 0.85em;
    border-radius: 50rem;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

a.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .offcanvas {
    background-color: rgba(26, 26, 26, 0.9);
    padding: 2rem;
    color: white !important;
}

@media only screen and (max-width: 767px) {
    nav.navbar {
        height: 4rem !important;
    }

    nav.navbar .container {
        padding-bottom: .5rem;
    }
    
    img.nav-logo {
        width: 2.5rem !important;
    }
    
    li.nav-item {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    li.nav-item > span.material-icons {
        display: block;
        margin-right: 2rem;
    }

    a.nav-link {
        background-color: rgba(255, 255, 255, 0);
    }

    span#nav-link-icon-home { color: #FF8053; }
    span#nav-link-icon-movie { color: var(--movie-bg-85); }
    span#nav-link-icon-tv { color: var(--tv-bg-85); }
    span#nav-link-icon-music { color: var(--music-bg-85); }
    span#nav-link-icon-misc { color: var(--misc-bg-85); }
}

/**
 * SEARCH MODAL
*/
.search-modal-dialog {
    box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.05);
}

.search-modal-dialog .modal-content {
    background-color: rgba(31, 31, 31, 0.95);
}

.sm-wrapper {
    /* Wrapper of the search box and icon */
    display: flex;
    align-items: center;
}

.sm-textinput {
    /* Search box */
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    border: none;
    font-size: 1.25em;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transition: 0.2s;
}

.sm-textinput:focus {
    outline: none;
    /* box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.175); */
    background-color: rgba(255, 255, 255, 0.15);
}

.sm-submitbtn {
    /* Search icon submit button */
    border: none;
    background: none;
    height: 2em;
    transition: .2s;
    opacity: .5;
}

.sm-submitbtn > span.material-icons {
    /* Search icon INSIDE submit button */
    font-size: 2em;
}

.sm-submitbtn:hover {
    transform: rotate(15deg);
    opacity: 1;
}

/**
 * FOOTER
*/
footer
{
    background-size: cover;
    background-position: center bottom;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer-link-main-site
{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 1em;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.material-icons {
    transition: 0.3s;
}

.footer-link-main-site:hover
{
    opacity: 0.75; /* reduce opacity */
}

.footer-link-main-site:hover + .material-icons
{
    transform: translateX(.3rem); /* slide right slight */
}

footer a
{
    color: white !important;
    text-decoration: none !important;
}

footer a:hover
{
    text-decoration: underline !important;
}

@media screen and (min-width: 1200px) /* md going to lg */
{
    .footer-description {
        font-size: 1em !important;
    }
    
    .footer-developers {
        font-size: 0.8em !important;
    }
}

@media screen and (max-width: 1200px) /* md going below until xs */
{
    .footer-description {
        font-size: 0.8em !important;
        padding-top: 0.5rem;
    }
    
    .footer-link-main-site {
        font-size: 0.8em !important;
    }

    .footer-developers {
        font-size: 0.7em !important;
        padding-top: 0.5rem;
    }
}

.footer-title {
    border-radius: 0.75rem;
    background: rgba(98,98,98,0.5);
}