:root {
    /* 85% Opacity */
    --movie-bg-85: rgba(15, 151, 191, 0.85);
    --tv-bg-85: rgba(201, 89, 163, 0.85);
    --music-bg-85: rgba(145, 176, 47, 0.85);
    --misc-bg-85: rgba(254, 175, 48, 0.85);
    
    /* 85% Opacity, Darker for Quick Ratings */
    --movie-bg-85-darker: rgba(25, 107, 131, 0.85);
    --tv-bg-85-darker: rgba(150, 57, 118, 0.85);
    --music-bg-85-darker: rgba(97, 121, 21, 0.85);
    --misc-bg-85-darker: rgba(173, 112, 14, 0.85);

    /* 15% Opacity */
    --movie-bg-15: rgba(15, 151, 191, 0.15);
    --tv-bg-15: rgba(201, 89, 163, 0.15);
    --music-bg-15: rgba(145, 176, 47, 0.15);
    --misc-bg-15: rgba(254, 175, 48, 0.15);

    /* Other */
    --white-bg-10: rgba(255, 255, 255, 0.1);
    --black-bg-85: rgba(0, 0, 0, 0.8);
    --body-bg: #161617;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

/* Footer */
footer
{
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer-link-main-site
{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 1em;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.material-icons {
    transition: 0.3s;
}

.footer-link-main-site:hover
{
    opacity: 0.75; /* reduce opacity */
}

.footer-link-main-site:hover + .material-icons
{
    transform: translateX(.3rem); /* slide right slight */
}

footer a
{
    color: white !important;
    text-decoration: none !important;
}

footer a:hover
{
    text-decoration: underline !important;
}

@media screen and (min-width: 1200px) /* md going to lg */
{
    .footer-description {
        font-size: 1em !important;
    }
    
    .footer-developers {
        font-size: 0.8em !important;
    }
}

@media screen and (max-width: 1200px) /* md going below until xs */
{
    .footer-description {
        font-size: 0.8em !important;
        padding-top: 0.5rem;
    }
    
    .footer-link-main-site {
        font-size: 0.8em !important;
    }

    .footer-developers {
        font-size: 0.7em !important;
        padding-top: 0.5rem;
    }
}

.footer-title {
    border-radius: 0.75rem;
    background: rgba(98,98,98,0.5);
}