@import "global.css";

header {
    overflow: hidden;
}

header div.header-bg {
    background-position: center;
    display: block;
    background-size: 100%;
    transition: all 0.8s;
}

header div.header-bg:hover {
    background-size: 120%;

}

header p.article-rating {
    font-size: 1em;
    color: white;
}

header h4.article-title {
    font-size: 2.15em;
}

header p.article-date {
    font-size: 0.9em;
    color: white;
}

header p.article-author {
    font-size: 0.9em;
    color: white;
}

header p.article-excerpt {
    font-size: 0.85em;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}